---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: spotify-data
  namespace: spotify
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 5Gi
