# NFS Mount Playbook
# Mounts NFS storage on all K3s nodes for backup/restore operations
# Run this on existing clusters to add NFS support without reinstalling K3s

- name: Mount NFS storage on K3s nodes
  hosts: all
  become: true
  gather_facts: true

  tasks:
    - name: Install NFS client
      apt:
        name: nfs-common
        state: present
        update_cache: true

    - name: Create NFS mount directory
      file:
        path: /mnt/k3s-nfs
        state: directory
        mode: '0755'

    - name: Add NFS mount to /etc/fstab
      lineinfile:
        path: /etc/fstab
        line: '10.20.10.20:/volume/567898ba-8471-4adb-9be9-d3e1f96fa7ba/.srv/.unifi-drive/K3sStorage/.data /mnt/k3s-nfs nfs defaults,_netdev 0 0'
        state: present
        backup: true

    - name: Mount NFS share
      mount:
        path: /mnt/k3s-nfs
        src: 10.20.10.20:/volume/567898ba-8471-4adb-9be9-d3e1f96fa7ba/.srv/.unifi-drive/K3sStorage/.data
        fstype: nfs
        opts: defaults,_netdev
        state: mounted

    - name: Verify NFS mount is accessible
      stat:
        path: /mnt/k3s-nfs
      register: nfs_check
      failed_when: not nfs_check.stat.exists

    - name: Display mount status
      debug:
        msg: "NFS successfully mounted at /mnt/k3s-nfs on {{ inventory_hostname }}"
